body {
	font-size: 10px;
	font-family: verdana,sans-serif;
	background-color:  #195073;
	padding: 0px;
	margin: 0px;
	
}

.content {
	width: 900px;
	margin: 0px auto;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 15px;
	
}

h1 {
	color:#195073;
}


